body {
  background-color: #D3D3D3;
}

.rotating-heading-simple {
  margin-top: 0;
  font-size: 45px;
}

.rotating-heading-simple span {
  color: #7690ac; 
  transition: color 1s infinite alternate; 
}

.rotating-heading-simple span:nth-child(odd) {
  color: #E42217; 
}

h1 {
  margin-top: 0;
  font-size: 35px;
  color: #E42217;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

.image {
  height:100%;
  max-width: 50%;
}