body {
  background-color: #D3D3D3;
}

.rotating-heading-simple {
  margin-top: 0;
  font-size: 45px;
}

.rotating-heading-simple span {
  color: #E42217; 
  transition: color 1s infinite alternate; 
}

.rotating-heading-simple span:nth-child(odd) {
  color: #7690ac; 
}

h1 {
  margin-top: 0;
  font-size: 35px;
  color: #E42217;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

.image {
  height:100%;
  max-width: 50%;
}

.spacerColumn {
  float: left;
  width: 28%;
  padding: 5px;
}

.spacerColumn8 {
  float: left;
  width: 8.5%;
  padding: 5px;
}

.sideBarButton {
  background-color: #F0F0F0;
  border:1px solid black;
  color: black;
  margin-left:2px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
}

.menuButton {
  border:0px;
  padding: 5px 3%;
  border-radius: 5px;
}

.spacerRow{
  padding-bottom: 30px;
}

.parent-container svg {
    width: 60%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* To prevent extra spacing below inline elements */
}